
<!DOCTYPE html>
<html>
  <head>
    <title>SCO local endpoint</title>
    <meta charset="UTF-8" />
    <script>
      var exports = {};
    </script>
    <script type="text/javascript" src="lib/SCORMAdapter.js"></script>
    <script type="text/javascript" src="lib/MessageHandler.js"></script>
    <script type="text/javascript" src="lib/loadContent.js"></script>
    <link rel="stylesheet" href="style.css">
  </head>
  <!-- NOTE: Set the body's data-source attribute to the SCO's remote endpoint. -->
  <body onload="loadContent();" data-source="">
    <div id="wrapper">
      <div class="header">
        <div class="container">
          <h1 id="title">Contenuto in caricamento... | Content is loading...</h1>
          <p id="subtitle">
            <div>Gentilmente, attendi il caricamento. Se non dovesse apparire a breve, prova a riaprire nuovamente questa finestra.</div>
            <div>Please wait, or if your content doesn't appear, try closing and
            opening this window again.</div>
          </p>
        </div>
      </div>
      <div class="messages container">
        <h2 id="title-error-messages">
          <div>
            Se l'inizializzazione dovesse fallire, i messaggi di errore appariranno qui sotto:
          </div>
          <div>
            If the initialization fails, error messages will appear below:
          </div>
        </h2>
      </div>
      <div class="footer">
        <div class="container" id="footer-content">
        </div>
      </div>
    </div>
    <div id="runtime-error"></div>
  </body>
</html>